<section class="login">

  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6" action="#" method="POST">

        <div>
          <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
          <div class="mt-2">
            <input id="email" name="email" type="email" autocomplete="email" required class="w-full rounded-full  py-1.5 text-gray-900 shadow-sm border border-gray-300">
          </div>
        </div>
  
        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
            <div class="text-sm">
              <a href="#" class="font-semibold">Forgot password?</a>
            </div>
          </div>
          <div class="mt-2">
            <input id="password" name="password" type="password" autocomplete="current-password" required class="w-full rounded-full  py-1.5 text-gray-900 shadow-sm border border-gray-300 ">
          </div>
        </div>
  
        <div>
          <button type="submit" class="loginbtn flex font-bold text-white rounded-full justify-center w-full  px-3 py-1.5 text-sm font-semibold leading-6  shadow-sm ">Sign In</button>
        </div>
      </form>
      <div class="py-2 text-center">
        <a href="/register" class="text-sm font-semibold ">New User ?</a>
      </div>
    </div>
  </div>
</section>