<section class="hero">
  <div class="mx-auto flex item-center justify-between py-6">

    <div class="leading-8 mx-16 my-32 w-1/2">
      <h6 class="text-lg "><em>Are you hungry??</em></h6>
      <h1 class="text-6xl font-bold ">Don't Wait !!</h1>
      <button class="btn inline-block px-4 py-2 rounded-full mt-4">
        Order Now
      </button>
    </div>

    <div class="w-1/2">
      <img src="/img/hero-pizza.png" alt="hero-pizza">
    </div>
  </div>
</section>

<section class="menu container mx-auto py-8 px-16">
  <h1 class="font-bold text-xl mb-10">All  Pizzas</h1>
  <div class="grid grid-cols-4 gap-x-12 gap-y-16">
    <div class="w-64">
      <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="">
      <div class="text-center">
        <h2 class="mb-4 text-lg">Margherita</h2>
        <span class="size py-1 px-4 rounded-full uppercase text-xs">small</span>
        <div class="flex item-center justify-around mt-6">
          <span class="font-bold text-lg mt-1.5">₹250</span>
          <button class="add-to-cart py-1 px-6 rounded-full flex item-center font-bold">
            <span>+</span>
            <span class="ml-4">Add</span>
          </button>
        </div>
      </div>
    </div>
    <div>
      <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="">
      <div class="text-center">
        <h2 class="mb-4 text-lg">Margherita</h2>
        <span class="size py-1 px-4 rounded-full uppercase text-xs">small</span>
        <div class="flex item-center justify-around mt-6">
          <span class="font-bold text-lg mt-1.5">₹250</span>
          <button class="add-to-cart py-1 px-6 rounded-full flex item-center font-bold">
            <span>+</span>
            <span class="ml-4">Add</span>
          </button>
        </div>
      </div>
    </div><div class="w-64">
      <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="">
      <div class="text-center">
        <h2 class="mb-4 text-lg">Margherita</h2>
        <span class="size py-1 px-4 rounded-full uppercase text-xs">small</span>
        <div class="flex item-center justify-around mt-6">
          <span class="font-bold text-lg mt-1.5">₹250</span>
          <button class="add-to-cart py-1 px-6 rounded-full flex item-center font-bold">
            <span>+</span>
            <span class="ml-4">Add</span>
          </button>
        </div>
      </div>
    </div><div class="w-64">
      <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="">
      <div class="text-center">
        <h2 class="mb-4 text-lg">Margherita</h2>
        <span class="size py-1 px-4 rounded-full uppercase text-xs">small</span>
        <div class="flex item-center justify-around mt-6">
          <span class="font-bold text-lg mt-1.5">₹250</span>
          <button class="add-to-cart py-1 px-6 rounded-full flex item-center font-bold">
            <span>+</span>
            <span class="ml-4">Add</span>
          </button>
        </div>
      </div>
    </div><div class="w-64">
      <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="">
      <div class="text-center">
        <h2 class="mb-4 text-lg">Margherita</h2>
        <span class="size py-1 px-4 rounded-full uppercase text-xs">small</span>
        <div class="flex item-center justify-around mt-6">
          <span class="font-bold text-lg mt-1.5">₹250</span>
          <button class="add-to-cart py-1 px-6 rounded-full flex item-center font-bold">
            <span>+</span>
            <span class="ml-4">Add</span>
          </button>
        </div>
      </div>
    </div><div class="w-64">
      <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="">
      <div class="text-center">
        <h2 class="mb-4 text-lg">Margherita</h2>
        <span class="size py-1 px-4 rounded-full uppercase text-xs">small</span>
        <div class="flex item-center justify-around mt-6">
          <span class="font-bold text-lg mt-1.5">₹250</span>
          <button class="add-to-cart py-1 px-6 rounded-full flex item-center font-bold">
            <span>+</span>
            <span class="ml-4">Add</span>
          </button>
        </div>
      </div>
    </div><div class="w-64">
      <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="">
      <div class="text-center">
        <h2 class="mb-4 text-lg">Margherita</h2>
        <span class="size py-1 px-4 rounded-full uppercase text-xs">small</span>
        <div class="flex item-center justify-around mt-6">
          <span class="font-bold text-lg mt-1.5">₹250</span>
          <button class="add-to-cart py-1 px-6 rounded-full flex item-center font-bold">
            <span>+</span>
            <span class="ml-4">Add</span>
          </button>
        </div>
      </div>
    </div><div class="w-64">
      <img class="h-40 mb-4 mx-auto" src="/img/pizza.png" alt="">
      <div class="text-center">
        <h2 class="mb-4 text-lg">Margherita</h2>
        <span class="size py-1 px-4 rounded-full uppercase text-xs">small</span>
        <div class="flex item-center justify-around mt-6">
          <span class="font-bold text-lg mt-1.5">₹250</span>
          <button class="add-to-cart py-1 px-6 rounded-full flex item-center font-bold">
            <span>+</span>
            <span class="ml-4">Add</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>